# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET ='My.M0m-5@y5_1m=Sp3Ci41'
JWT_ALGO=HS256

# Mongo DB
# Local development
MONGODB_URI=mongodb://127.0.0.1:27017/lockkey

# Port
PORT=3031

# Default log level
LOG_LEVEL=silly

# Debugging variables
DEBUG_NAMESPACE=lockkey-server:server

# Host
HOST=localhost
